/* Main content */

body {
    background: #eee;


}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

a {}
p{}
h1{}



/* Header */

header {
    display: flex;
}

/* Nav */

nav {
    float: right;
}

/* Main content */

main {
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;

}

section {
    display: flex;
}

section:nth-of-type(3) {

}

.text {
    
}

.img, img{
    width: 50%;
}

/* Footer */

footer {
    display: flex;
}