.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px brown;,
      inset 0 0 10px black,
      0 0 10px brown;
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/clock.png);
    background-size: 100% 100%;
    z-index: -1;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }

  .clock-digital {
      display: flex;
      background-color: black;
      padding: 20px;
      color: #4efc03;
      font-size: 50px;
      font-family: 'Orbitron', sans-serif;
      justify-content:center;
      align-items:center;
      width: 300px;
  }
  .clock-digital li {
  }
  ul {
      list-style-type: none;
  }